:root {
  --color-primary: #070C23;
  --color-primary-dark: #020511;
  --color-primary-light: #131a36;
  --color-grey-light: rgb(162, 169, 199);
  --color-grey-dark: rgb(72, 79, 107);
  --color-white: #fff;
  --gradient-main: linear-gradient(45deg, rgba(121,193,228,1) 0%, rgba(54,189,159,1) 31%, rgba(203,222,135,1) 62%, rgba(167,125,203,1) 100%, rgba(226,127,230,1) 100%);
  --gradient-transparent: linear-gradient(45deg, rgba(121,193,228,.4) 0%, rgba(54,189,159,.4) 15%, rgba(203,222,135,.4) 30%, rgba(167,125,203,.4) 45%, rgba(0,0,0,0) 70%);
  --gradient-transparent-reverse: linear-gradient(315deg, rgba(121,193,228,.4) 0%, rgba(54,189,159,.4) 15%, rgba(203,222,135,.4) 30%, rgba(167,125,203,.4) 45%, rgba(0,0,0,0) 70%);
  --gradient-monotone: linear-gradient(rgba($color-primary, .5), rgba($color-primary-dark, .5)); }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth !important; }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 120em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 36.25em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

.body {
  background: var(--gradient-main);
  color: var(--color-white);
  font-size: 1.4rem;
  font-family: 'Inter';
  font-weight: 300;
  line-height: 1.7; }

.container {
  margin: 1.5rem;
  background-color: var(--color-primary);
  border-radius: 3px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(11, [col-start] minmax(60px, 1fr) [col-end]) [content-end] 1fr [full-end];
  grid-template-rows: min-content 75vh min-content minmax(20vh, min-content) minmax(20vh, min-content);
  gap: 3rem; }
  @media only screen and (max-width: 68.75em) {
    .container {
      grid-template-columns: [full-start] 1fr [content-start] repeat(11, [col-start] minmax(40px, 1fr) [col-end]) [content-end] 1fr [full-end];
      grid-template-rows: min-content 60vh min-content minmax(20vh, min-content) minmax(20vh, min-content);
      margin: 0; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      padding: 2rem; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-columns: [full-start] 1fr [content-start] repeat(11, [col-start] minmax(20px, 1fr) [col-end]) [content-end] 1fr [full-end]; } }
  @media only screen and (max-width: 36.25em) {
    .container {
      grid-template-columns: [full-start] 1fr [content-start] repeat(11, [col-start] minmax(0, 1fr) [col-end]) [content-end] 1fr [full-end]; } }

.container > * {
  grid-column: content-start / content-end; }

.title-2 {
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

.title-3 {
  font-size: 2.4rem;
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 2rem; }
  .title-3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-image: var(--gradient-main);
    display: inline-block; }

*,
*:before,
*::after {
  z-index: 2; }

.header {
  grid-column: content-start / content-end;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 3rem;
  color: purple; }
  .header__logo {
    height: 3rem;
    width: 3rem;
    margin-right: auto;
    fill: green;
    color: red; }
  .header__nav {
    list-style: none;
    display: flex; }
    .header__nav > *:not(:last-child) {
      margin-right: 2rem; }
  .header__link:link, .header__link:visited {
    color: var(--color-grey-light);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    background-clip: text;
    background-image: var(--gradient-main);
    display: inline-block; }
  .header__link:hover {
    color: transparent;
    transform: translateY(-2px) scale(1.05); }
  .header__link:active {
    transform: translateY(-1px) scale(1.05); }

.heading {
  grid-column: col-start 3/ col-end 9;
  grid-row: 2/3;
  text-align: center;
  align-self: center;
  position: relative;
  z-index: 10; }
  @media only screen and (max-width: 43.75em) {
    .heading {
      grid-column: col-start 2 / col-end 10; } }
  .heading__bg {
    position: relative;
    grid-column: full-start/ full-end;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(var(--color-primary), transparent, var(--color-primary)), url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .1;
    z-index: 2; }
    .heading__bg canvas {
      outline: 1px solid red; }
  .heading__title {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 3rem; }
    .heading__title span {
      background-image: var(--gradient-main);
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    @media only screen and (max-width: 68.75em) {
      .heading__title {
        font-size: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .heading__title {
        padding-bottom: 2rem;
        font-size: 5.5rem; } }
    @media only screen and (max-width: 50em) {
      .heading__title {
        font-size: 4.8rem; } }
    @media only screen and (max-width: 43.75em) {
      .heading__title {
        font-size: 4rem; } }
    @media only screen and (max-width: 36.25em) {
      .heading__title {
        font-size: 3rem; } }
  .heading__subtitle {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-grey-light); }
    @media only screen and (max-width: 56.25em) {
      .heading__subtitle {
        font-size: 1.3rem; } }

.about {
  grid-column: content-start / content-end;
  justify-self: center; }

.toknow {
  grid-column: content-start / col-end 5;
  text-align: center;
  padding-bottom: 10rem; }
  .toknow__text {
    padding-top: 2rem;
    text-align: left; }
  @media only screen and (max-width: 56.25em) {
    .toknow {
      grid-column: col-start 2/ col-end 10;
      padding-bottom: 2rem; } }
  @media only screen and (max-width: 43.75em) {
    .toknow {
      grid-column: col-start 1/ col-end 11;
      padding-bottom: 2rem; } }

.skills {
  grid-column: col-start 7/ content-end;
  text-align: center;
  justify-self: center; }
  @media only screen and (max-width: 56.25em) {
    .skills {
      grid-column: content-start/ content-end;
      padding-bottom: 9rem; } }
  .skills__container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -1.5rem;
    padding-top: 2rem;
    max-width: 45rem; }
  .skills__item {
    display: inline;
    padding: 1rem 2.5rem;
    background-color: var(--color-grey-dark);
    border-radius: 3px;
    margin-right: 1.5rem;
    margin-bottom: 2rem; }

.projects {
  grid-column: content-start / content-end;
  justify-self: center; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      padding-bottom: 6rem; } }

.project {
  grid-column: col-start 2 / col-end 8;
  display: grid;
  gap: 1.5rem 3rem;
  grid-template-columns: 40% auto;
  grid-template-rows: max-content minmax(30rem, min-content);
  position: relative;
  margin-bottom: 15rem;
  border: 2px solid transparent;
  background: linear-gradient(var(--color-primary), var(--color-primary)) padding-box, var(--gradient-transparent) border-box;
  border-radius: 3px;
  padding: 3.5rem;
  box-shadow: 0 5rem 5rem rgba(2, 5, 17, 0.3);
  opacity: 0;
  transition: all .9s;
  perspective: 100rem; }
  @media only screen and (max-width: 56.25em) {
    .project {
      grid-column: col-start 2 / col-end 10;
      margin-bottom: 12rem; } }
  @media only screen and (max-width: 50em) {
    .project {
      grid-column: col-start 1 / col-end 11; } }
  @media only screen and (max-width: 36.25em) {
    .project {
      display: block; } }
  .project__number {
    position: absolute;
    top: -11rem;
    right: -3rem;
    transform: translateX(30vw);
    font-size: 12rem;
    font-weight: 700;
    opacity: .1;
    transition: all .9s;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-grey-dark);
    z-index: 10; }
    @media only screen and (max-width: 50em) {
      .project__number {
        transform: translateX(0vw); } }
    @media only screen and (max-width: 43.75em) {
      .project__number {
        font-size: 10rem;
        top: -9rem;
        right: -2rem; } }
    .project__number::after {
      content: attr(data-value);
      position: absolute;
      font-size: 12rem;
      color: var(--color-grey-dark);
      -webkit-text-stroke: 1px transparent;
      opacity: .2;
      left: 1rem;
      top: .8rem;
      z-index: -1; }
      @media only screen and (max-width: 43.75em) {
        .project__number::after {
          font-size: 10rem; } }
  .project__img-container {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    aspect-ratio: 3/4;
    box-shadow: 1rem 1rem 3rem rgba(2, 5, 17, 0.3);
    transition: all .8s;
    perspective: 100rem;
    align-self: top; }
    @media only screen and (max-width: 36.25em) {
      .project__img-container {
        width: 100%;
        margin: 2rem auto 1rem;
        aspect-ratio: 3/2; } }
    .project__img-container:hover .project__img {
      transform: rotateY(180deg); }
      @media only screen and (max-width: 36.25em) {
        .project__img-container:hover .project__img {
          transform: none; } }
    .project__img-container:hover .project__img-back {
      transform: rotateY(180deg) scaleX(-1);
      background-position: bottom;
      transition: transform .8s, background-position 2.5s .7s; }
      @media only screen and (max-width: 36.25em) {
        .project__img-container:hover .project__img-back {
          transform: none; } }
    .project__img-container:hover .project__link {
      transform: scaleX(1);
      opacity: 1;
      transition: opacity 1s .6s; }
      @media only screen and (max-width: 36.25em) {
        .project__img-container:hover .project__link {
          transform: translate(-50%); } }
    .project__img-container:hover ~ .project__description .project__site-link {
      opacity: 0; }
  .project__img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: all .8s;
    backface-visibility: hidden;
    cursor: pointer;
    z-index: 100; }
    @media only screen and (max-width: 36.25em) {
      .project__img {
        object-position: top; } }
  .project__img-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    cursor: pointer;
    transition: transform .8s, background-position 0s .6s;
    z-index: 10; }
    .project__img-back_1 {
      background-image: linear-gradient(rgba(48, 54, 76, 0.2), rgba(2, 5, 17, 0.6) 60%, rgba(2, 5, 17, 0.8)), url("../img/projects/natours_full.jpg"); }
    .project__img-back_2 {
      background-image: linear-gradient(rgba(48, 54, 76, 0.2), rgba(2, 5, 17, 0.6) 60%, rgba(2, 5, 17, 0.8)), url("../img/projects/trillo_full.jpg"); }
    .project__img-back_3 {
      background-image: linear-gradient(rgba(48, 54, 76, 0.2), rgba(2, 5, 17, 0.6) 60%, rgba(2, 5, 17, 0.8)), url("../img/projects/nexter_full.jpg"); }
    .project__img-back_4 {
      background-image: linear-gradient(rgba(48, 54, 76, 0.2), rgba(2, 5, 17, 0.6) 60%, rgba(2, 5, 17, 0.8)), url("../img/projects/rustravel_full.jpg"); }
    .project__img-back_5 {
      background-image: linear-gradient(rgba(48, 54, 76, 0.2), rgba(2, 5, 17, 0.6) 60%, rgba(2, 5, 17, 0.8)), url("../img/projects/learn_full.jpg"); }
    @media only screen and (max-width: 36.25em) {
      .project__img-back {
        position: static;
        width: 0;
        height: 0;
        background-image: none;
        padding: 0;
        margin: 2rem; } }
  .project__link {
    transform: rotateY(180deg);
    display: block;
    width: auto;
    background-color: var(--color-primary-light);
    color: var(--color-white);
    text-decoration: none;
    padding: 1.2rem 2rem;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: auto;
    box-shadow: 1rem 1rem 1rem rgba(2, 5, 17, 0.1);
    opacity: 0;
    transition: all .8s 0s; }
    @media only screen and (max-width: 36.25em) {
      .project__link {
        transform: translateX(-50%);
        opacity: 1;
        transition: none;
        z-index: 200;
        position: absolute;
        bottom: 5rem;
        left: 50%; } }
  .project__title {
    grid-column: 2/3; }
  .project__description {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-self: top; }
    .project__description p {
      margin-bottom: 1rem; }
  .project__description-links {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem; }
  .project__description-link:link, .project__description-link:visited {
    color: var(--color-grey-light);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1.5rem;
    display: inline-block;
    background-clip: text;
    background-image: var(--gradient-main);
    transition: transform .3s ease, color .2s ease; }
  .project__description-link:hover {
    color: transparent;
    transform: translateY(-2px) scale(1.05);
    font-weight: 300; }
  .project__description-link:active {
    transform: translateY(-1px) scale(1.05); }
  .project__site-link:link, .project__site-link:visited {
    transition: all .6s; }

.project:nth-of-type(odd) {
  transform: translateX(-10vw); }
  @media only screen and (max-width: 50em) {
    .project:nth-of-type(odd) {
      transform: translateX(0vw); } }

.project:nth-of-type(even) {
  grid-column: col-start 4 / col-end 10;
  background: linear-gradient(var(--color-primary), var(--color-primary)) padding-box, var(--gradient-transparent-reverse) border-box;
  grid-template-columns: auto 40%;
  transform: translateX(10vw); }
  @media only screen and (max-width: 56.25em) {
    .project:nth-of-type(even) {
      grid-column: col-start 2 / col-end 10; } }
  @media only screen and (max-width: 50em) {
    .project:nth-of-type(even) {
      grid-column: col-start 1 / col-end 11;
      transform: translateX(0vw); } }
  .project:nth-of-type(even) .project__repo-link:link,
  .project:nth-of-type(even) .project__repo-link:visited {
    order: -1;
    margin-left: 0;
    margin-right: auto; }
  .project:nth-of-type(even) .project__number {
    top: -13rem;
    left: -5rem;
    transform: translateX(-30vw); }
    @media only screen and (max-width: 50em) {
      .project:nth-of-type(even) .project__number {
        left: -3rem;
        transform: translateX(0vw); } }
    @media only screen and (max-width: 43.75em) {
      .project:nth-of-type(even) .project__number {
        font-size: 10rem;
        top: -9rem;
        left: -2rem; } }
  .project:nth-of-type(even) .project__img-container {
    grid-column: 2 / 3; }
  .project:nth-of-type(even) .project__title {
    grid-column: 1 / 2; }
  .project:nth-of-type(even) .project__description {
    grid-column: 1 / 2; }

.cta {
  grid-column: col-start 3 / col-end 9;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      grid-column: col-start 1 / col-end 11;
      padding-bottom: 5rem; } }
  .cta__text {
    font-size: 1.8rem;
    line-height: 1.8; }
  .cta__contacts {
    display: flex;
    justify-content: end;
    margin-top: 3rem;
    gap: 2rem; }
    @media only screen and (max-width: 43.75em) {
      .cta__contacts {
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
        margin-top: 3rem; } }
    @media only screen and (max-width: 36.25em) {
      .cta__contacts {
        display: block; } }
  .cta__contact {
    display: flex;
    align-items: baseline;
    font-size: 1.6rem;
    color: var(--color-grey-light);
    text-decoration: none;
    transition: all 1.5s ease;
    width: 3.6rem;
    max-width: max-content;
    height: 5.5rem;
    overflow: hidden; }
    @media only screen and (max-width: 43.75em) {
      .cta__contact {
        width: 100%; } }
    .cta__contact:hover, .cta__contact:active {
      width: 100%;
      max-width: max-content; }
    .cta__contact:hover .cta__contact-text,
    .cta__contact:active .cta__contact-text {
      opacity: 1; }
    .cta__contact-text {
      margin-left: 2rem;
      line-height: 1;
      font-weight: 300;
      background: var(--gradient-main);
      background-clip: text;
      opacity: 1;
      transition: all .2s; }
      .cta__contact-text:hover {
        color: transparent; }
    .cta__contact-img {
      width: 3.6rem;
      height: 3.6rem;
      position: relative;
      top: 1rem;
      display: block; }

.footer {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-grey-light);
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-size: 1.2rem; }
  .footer__copyright {
    display: block; }
  .footer__socials {
    display: flex;
    list-style: none; }
  .footer__social-icon:link, .footer__social-icon:visited {
    display: inline-block;
    margin-left: 2rem;
    color: var(--color-grey-light);
    text-decoration: none;
    background-image: var(--gradient-main);
    background-clip: text;
    transition: all .3s; }
  .footer__social-icon:hover {
    color: transparent;
    transform: translateY(-2px);
    font-weight: 400; }
  .footer__social-icon:active {
    transform: translateY(-1px); }

.logo {
  background-color: var(--color-grey-light);
  width: 3rem;
  height: 3rem;
  mask-image: url(../img/logo.svg);
  mask-size: cover; }

.button-up:link,
.button-up:visited {
  width: 5rem;
  height: 5rem;
  background: linear-gradient(var(--color-primary), var(--color-primary)) padding-box, var(--gradient-main) border-box;
  border: 1px solid transparent;
  border-radius: 3px;
  position: fixed;
  bottom: 10%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--color-white);
  text-decoration: none;
  opacity: .5; }
