.title-2 {
    font-size: 3.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title-3 {
    font-size: 2.4rem;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 2rem;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-image: var(--gradient-main);
        display: inline-block;
    }
}